.container {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
}

.button {
  padding: 10px 15px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.foundCard {
  margin: 20px 0;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  scroll-snap-type: x mandatory;
  padding: 10px;
  width: 80vw;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  scroll-snap-align: start;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.cardButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 15px;
  font-size: 1.2rem;
}

.cardButton:hover {
  background-color: #0056b3;
}

.cardButton:active {
  background-color: #003c80;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.carouselButton:focus {
  outline: none;
}

.carouselButton.left {
  left: 10px;
}

.carouselButton.right {
  right: 10px;
}

.dragging {
  cursor: grabbing;
}

.foundCard h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.foundCard p {
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.button:focus {
  outline: none;
}
