.card {
   
        background: #fff; 
        border-radius: 8px; 
        padding: 10px; 
        margin: 10px; 
        width: 250px; 
        height: 260px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
        text-align: left; 
        
    
  
  }
  .card h3 {
    font-size: 1.2rem; 
    margin: 0;
}

.card p {
    font-size: 0.9rem; 
    margin: 5px 0; 
}




 .cardButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-size: 0.8rem; 
  padding: 5px 10px; 
  margin-top: 5px;
 
}

.cardButton:hover {
  background-color: #0056b3;
}

.cardButton:active {
  background-color: #003c80;
}

.removeButton {
  background-color: #ff3b0a; /* vermelho vivo */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-size: 0.8rem; 
  padding: 5px 10px; 
  margin-top: 5px;
}

.removeButton:hover {
  background-color: #cc2900; /* vermelho escuro */
}

.removeButton:active {
  background-color: #801800; /* mais escuro ainda, como "pressionado" */
}



  .carIcon {
    width: 50px; 
    height: 50px; 
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
  }
  